body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
div {
  height: 100%;
  background-image: url('./bg-image.jpeg');

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
}
h1 {
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
